streamlit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
beautifulsoup4
trafilatura
gspread
oauth2client
# openai # Keep if you want the option to switch back via secrets
google-generativeai # Added for Gemini
python-dotenv
pandas
openpyxl
PyMuPDF
